body {
    font-family: "Arial","Meiryo", sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 5px rgba(14,51,29,0.5);
    border-bottom: solid 3px rgb(115, 115, 114);
}

html {
    font-size: 20px;
}

.font-skyblue {
    color: skyblue;
}

.font-pink {
    color: rgb(255, 192, 203);
}

#basic p {
    font-weight: bold;
}